/* ==========================================================================
   COLORS
   ========================================================================== */

   :root {
    /* Neutral */
    --color-white: #ffffff;
    --color-black: #171717;
  
    --color-gray-50: #faf8f6;
    --color-gray-100: #f3f1ef;
    --color-gray-200: #e8e5e2;
    --color-gray-300: #d6d1cc;
    --color-gray-400: #b4aea7;
    --color-gray-500: #66666f;
  
    /* Brand */
    --color-lavender-500: #7569e3;
    --color-lilac-300: #d9b8f3;
    --color-peach-300: #f5c7a6;
  
    /* Status (future-proofing) */
    --color-success: #3ba55d;
    --color-warning: #ffb020;
    --color-error: #d14343;
    --color-info: #276ef1;
  }