:root {
   /* Backgrounds */
   --background-canvas: var(--color-gray-50);
   --background-surface: var(--color-white);
 
   /* Text */
   --text-primary: var(--color-black);
   --text-secondary: var(--color-gray-500);
 
   /* Borders */
   --border-default: var(--color-gray-200);
 
   /* Brand */
   --brand-primary: var(--color-lavender-500);
   --brand-secondary: var(--color-lilac-300);
   --brand-accent: var(--color-peach-300);
 
   /* Links */
   --link-default: var(--brand-primary);
   --link-hover: var(--color-black);
 }