/* ==========================================================================
   FONTS
   ========================================================================== */

   @import "@fontsource/space-grotesk/400.css";
   @import "@fontsource/space-grotesk/500.css";
   @import "@fontsource/space-grotesk/700.css";

   @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
   
   @font-face {
    font-family: "Satoshi";
    src: url("../../assets/fonts/satoshi/Satoshi-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Satoshi";
    src: url("../../assets/fonts/satoshi/Satoshi-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Satoshi";
    src: url("../../assets/fonts/satoshi/Satoshi-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
